
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

.logo {
    height: auto;
    background-color: rgba(56, 56, 56, 0.7);
    position: relative;
    top: 15vh;
    gap: 1vw;
    padding: 15px 0;
    
}
.logo>img {
    margin-left: 2vw;
    width: 300px;
}
.main {
    display: flex;
    justify-content: center;
}

.background, .container {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

.background {
    width: 40vw;
    background-image: url("./images/photo-1553272725-086100aecf5e.avif");

}

.container {
    width: 60vw;
    flex-flow: column wrap;
    padding-left: 1vw;
    
}

.first {
    margin: 5vh auto 0px;
}

.last {
    margin: 5vh auto 0px;
}

.form-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 0px;
    margin-top: 10vh;
    margin-right: 10vw;
    border: 2px solid #5c5c5c;
    box-shadow: 10px 10px 5px #f1f1f1;
    
}

.text {
    font-weight:500;
}

.form {
    margin: 2vh auto 2vh;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-content: flex-start;
    
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    padding: 0px;
    font-weight: 300;
    gap:4px
}

input {
    padding: 4px;
   
}

.already {
    margin-top: 2vh;
    display: flex;
    justify-content: flex-start;
    gap:5px;
}

.button {
    transition-duration: 0.4s;
    border: 2px solid #333333;
    color: #333333;
    background-color: white;
    padding: 14px;
  }
  
  .button:hover {
    background-color: #ff8690;
    color: white;
  }
  